
Shadow_of_the_Desert/*.uasset filter=lfs diff=lfs merge=lfs -text
Shadow_of_the_Desert/*.umap  filter=lfs diff=lfs merge=lfs -text
Shadow_of_the_Desert/*.png   filter=lfs diff=lfs merge=lfs -text
Shadow_of_the_Desert/*.jpg   filter=lfs diff=lfs merge=lfs -text
Shadow_of_the_Desert/*.jpeg  filter=lfs diff=lfs merge=lfs -text
Shadow_of_the_Desert/*.tga   filter=lfs diff=lfs merge=lfs -text
Shadow_of_the_Desert/*.exr   filter=lfs diff=lfs merge=lfs -text
